/* large device */
@media(max-width:1199px){
    .work-content {
        padding: 50px 0;
    }

    .get-content ul li a {
        padding: 5px 5px;
    }

    .step {
        width: 100px;
        height: 100px;
    }
}

/* medium device */
@media(max-width:991px){
    .step {
        width: 100px;
        height: 100px;
    }
    .work-content h3 {
        font-size: 20px;
    }
    .work-content p {
        font-size: 14px;
    }

    .get-content ul li a {
        padding: 4px 2px;
    }

}

/* small device */
@media(max-width:767px){
    .top-header-content {
        margin: auto;
    }

    .appr_img {
        padding: 30px 0;
     }

     .cont h3 {
        padding-top: 20px;
    }

    .step {
        width: 100px;
        height: 100px;
    }

    .work-content h3 {
        font-size: 20px;
    }
    .work-content p {
        font-size: 14px;
    }

}

/* extra small device */
@media(max-width:575px){
    .btn-custom {
        font-size: 14px;
    }
    .banner h5 {
        margin-bottom: 14px;
    }
    .banner h1 {
        font-size: 30px;
    }
    .hg {
        min-height: 50vh;
    }
    .about_us h5 {
        font-size: 16px;
    }
    .about_us h1 {
        
        font-size: 35px;
    }
    span {
        height: 4px;
        width: 44px;
    }

    .step {
        top: 54%;
        right: -14%;
        width: 80px;
        height: 80px;
    }

    .step h1 {
        font-weight: 600;
        font-size: 26px;
    }

    .step p {
        font-size: 18px;
        font-weight: 500;
    }

    .apprch .step {
        
        left: -14%;
        top: 54%;
    }

    .appr_img {
       padding: 30px 0;
    }

    .cont h3 {
        font-size: 25px;
        padding-top: 20px;
    }

    .cont p {
        font-size: 14px;
    }

    .contact h1 {
        font-size: 27px;
    }

    .get-content h1 {
        font-size: 35px;
    }

    .get-content ul li a {
        padding: 5px 5px;
    }

    .get-content p {
        font-size: 15px;
    }
}